{{ "<!-- Banner -->" | safeHTML}}
<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1 style="color: white">{{ .Site.Params.Banner.title }}</h1>
    </header>
    <div class="content">
      <p style="color: white">{{ .Site.Params.Banner.subtitle }}</p>
<!--       <ul class="actions">
          <li><a href="#one" class="button next scrolly">.Site.Params.Banner.buttonText</a></li>
      </ul> -->
    </div>
        <div class="centered">
          <iframe src="https://www.youtube.com/embed/PjQjps9DTXw" allowfullscreen frameborder="0"></iframe>
        </div>            
    </div>
  </section>
</section>
